:root {
    --violet-color: #4D5AE5;
    --maintext-color: #2E2F42;
    --gray-color: #434455;
   --btn-navigation:#404BBF;
   --main-color: #FFFFFF;
}
body{
    color: var(--main-color) ;
    font-family: 'Roboto', sans-serif;     
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-size: 16px;
    background-color: var(--main-color) ;
}

/*якщо є нормалайз 
* {
    box-sizing: border-box;
}
зірочку не пишемо*/
p, h1, h2, h3, h4 {
    margin:0;
}
img {
    display: block;
    width: 100%;
    height: auto;

}
/*скинути крапки у списках ліст*/
.list {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul {
    margin: 0;
    padding-left: o;
}
.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E9FC;
}

/*скинути підкреслення на ссілках*.*/
.link {
    text-decoration: none;
}

.navigation {
    display: flex; 
 }

.logo-first, .logo-second {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33; 
    display: flex;
    color:var(--violet-color);
}

.logo-second {
    color:var(--maintext-color);  
}

.navigation-list { 
    display: flex ;
    margin-left: 76px;
    margin-right: 332px;
}

.navigation-item {
    margin-right: 40px;
    margin-left: auto;
   /* border: 2px solid tomato;*/
}
.navigation-item:last-child {
    margin-right: 0;
}
.navigation-link {
    display: block;
    font-weight: 500;
    color:var(--maintext-color);
}

.navigation-link:hover,
.navigation-link:focus {
    color: var(--btn-navigation);
}
.contacts {    
    display: flex;
}

.navigation-contacts{
   /* border: 2px solid tomato;*/
   display: flex;
   margin-right: 20px; 
}
.navigation-contacts:last-child{
    margin-right: 0;
}
 .contact-adress {
    font-style: normal;
    font-weight: 400;
    color: var(--gray-color);   
}
.contacts-adress:last-child {
    margin-right: 0;
}

.contact-adress:hover,
.contact-adress:focus {
    color: var(--btn-navigation);
}
/* фокус для таба на интерактинвные элементы)*/
/* Main */
/* Section hero*/
/*.hero {}*/

.hero-main{ 
    background: #2E2F42;
    text-align: center;
    padding-top:188px  ;
    padding-bottom: 188px; 

}

.hero-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    justify-content: center;
    color: var(--main-color);
    margin-top: 0;
    margin-bottom: 48px;
    padding-right: 317px;
    padding-left: 317px;
    
   
}

.hero-buttom {
    font-family: inherit;
    font-weight: 500;
    color: var(--main-color);
    letter-spacing: 0.04em;
    display: flex;
    margin: 0 auto;
    
    padding: 16px 32px;
    align-items: center;
    justify-content: center;

    background-color: #4D5AE5;
    border-radius: 4px;
    border-color: #4D5AE5;
    cursor: pointer;   
}

.hero-buttom:hover,
.hero-buttom:focus {
    background-color: #404BBF;
}

/* Section tefnology*/

.tehnology {
    padding-top: 120px;
}

.tehhology-maintext {
    color: hidden;
}

.tehnology-text, .about-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--maintext-color);
    margin-bottom: 8px;
}
.tehnology-text {
     
}

.tehnology-paragraph {
    font-weight: 400;
    color: var(--gray-color);
}

.tehnology-list {
    display: flex;
}

.tehnology-item {
    margin-right: 24px; 
    width: 264px; 
}
.tehnology-item:last-child {
    margin-right: 0;
}
/* section work*/

.work {
    padding-top: 120px;
    margin-bottom: 120px;
    
}

.work-maintext,
 .about-maintext {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--maintext-color);
    margin-bottom: 72px;
}

.work-list {
    display: flex;
    gap:24px;
}

.work-item {
    
}

/*.work-link {}*/

/*section our team - about*/

.about {
    background: #F4F4FD;
    padding-bottom: 120px;
}

.about-maintext {
    padding-top: 120px;
    margin-bottom: 72px;
}

.about-list {
    display: flex;
}

.about-item {
    margin-right: 24px;
    background:var(--main-color);
    text-align: center;
    border-radius: 0px 0px 4px 4px;
}

.about-text {
    margin-bottom: 8px;
}

.about-paragraph, .footer-paragraph {
    font-weight: 400;
    color: var(--gray-color);
}

/* Footer */

.footer {
    background: #2E2F42;
    padding-top: 100px; 
    padding-bottom: 100px;
}

.logo-footer-first, .logo-footer-second {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--violet-color);   
}

.logo-footer-second {
    color: #F4F4FD;
}

.footer-paragraph {
    color: #E7E9FC;
    width: 264px;
    height: 110px;
    margin-top: 16px;
}

/*--Page portoflio--*/
/*  Section portfolio navigation*/

/*.portfolio-hero {}*/

.portfolio-navigation {
    padding-bottom: 72px;
    padding-top: 92px;
}

.portfolio-navigation-list {
    display: flex;
    margin-bottom: 72px;
    align-items: center;
    text-align: center;  
    justify-content: center;  
}

.portfolio-navigation-item:last-child {
    margin-right: 0;
}

.portfolio-navigation-item {
    margin-right: 24px ;
}

.portfolio-buttom {
    display: flex;
    font-weight: 500;
    background-color: #F4F4FD;
    align-items: center; 
    letter-spacing: 0.04em;
    color: var(--violet-color);
    cursor: pointer;

    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;

    border: 1px solid ;
    border-color:#E7E9FC;
    border-radius: 4px;    
}

.portfolio-buttom:hover,
.portfolio-buttom:focus{
    background-color: var(--btn-navigation); 
    color: var(--main-color);
}
.portfolio-buttom:active {
    color: var(--gray-color);
}

/* Section portfolio aalication*/
.app-list {
    display: flex;
    flex-wrap: wrap;
}
.shadow { 
    border: 1px solid;
    border-color: #E7E9FC;
    border-top-color: transparent;
}
.app-item {
    width: 360px;
    margin-right: 24px;
    margin-bottom: 48px ;
   
    
}
.app-item:nth-child(3n) {
    margin-right: 0;
}
/*.app-item:ntn-child(7,8,9) {
    padding-bottom:120px;
}

/*.app-link { 
}*/

.app-maintext {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--maintext-color);
    margin-bottom: 8px;
    padding-top: 32px;
    padding-left: 16px;
       
}

.app-paragraph {
    font-weight: 400;
    color: var(--gray-color);
    margin-bottom: 32px;
    padding-left: 16px;
}
/**flexbox**/

 .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
 }

 .main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .card { 
    padding-bottom: 32px ;
    padding-top: 32px; 
 }